.app-component {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-content{
    flex: 1;
    background-color: lightgray;
}

.example-spacer {
    flex: 1 1 auto;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
